#pragma code_page(65001)
#include <windows.h>

"APP"   ICON "toolbox.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0, 1, 0, 0
  PRODUCTVERSION 0, 1, 0, 0
  FILEFLAGSMASK 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404E4"
        BEGIN
            VALUE "CompanyName", "shuhari.github.io"
            VALUE "FileDescription", "Shuhari's toolbox"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "shuhari.toolbox"
            VALUE "LegalCopyright", "Copyright (c) 2016 shuhari"
            VALUE "OriginalFilename", "shuhari.toolbox"
            VALUE "ProductName", "Shuhari's toolbox"
            VALUE "ProductVersion", "0.1.0.0"
            VALUE "Comments", "Shuhari's toolbox"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 0x4E4
    END
END
